<template>
    <div class="page-header">
        <div class="page-header__item" :class="animation ? 'transition' : ''">
            <img class="page-header-logo" src="../../img/logo_header.svg" alt="logo">
            <div class="page-header-title">
                Інформаційно-аналітична система оперативного інформування МВС
            </div>
            <div>
                <button @click="goNext" class="page-header-button">Увійти в систему</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'PageHeader',
        data() {
            return {
                animation: false
            }
        },
        methods: {
            goNext() {
                this.animation = true;
            }
        }
    }
</script>

<style lang="scss">
    body {
        margin: 0;
    }
    @keyframes example {
        0%   {top:0;}
        100% {top:-100%;}
    }
    .page-header {
        background-image: url("../../img/Mvs_startpage_pic.png");
        height: 100vh;
        display: flex;
        justify-content: center;

        &__item {
            max-width: 560px;
            text-align: center;
            position: relative;

            &.transition {
                animation-name: example;
                animation-duration: 2s;
                animation-delay: .2s;
                animation-timing-function: ease-in-out;
                animation-fill-mode: both;
            }
        }

        &-logo {
            margin-top: 80px;
            margin-bottom: 58px;
        }

        &-title {
            color: #fff;
            font-size: 32px;
            font-weight: 600;
            font-family: sans-serif;
            margin-bottom: 85px;
        }

        &-button {
            color: #fff;
            background: #2D5FFF;
            height: 56px;
            font-weight: 600;
            border: none;
            font-size: 18px;
            padding: 15px 24px;
            border-radius: 4px;
            cursor: pointer;
            outline: none;
            transition: 0.3s;
            &:hover {
                background: #2c5fb7;
            }
        }
    }

</style>